{% extends 'base.html' %}
 
{% block head %}
<style>
    .content{
        vertical-align: middle;
        padding: auto;
        margin: auto;
    }
</style>
<div class="content">
    <h1 align="center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 align="center">There are no tasks. Create one below!</h4>
    {% else %}
    <table border="3px", width="50%", align="center">
        <tr align="center"><b>
            <th width="50%">Task</th>
            <th width="30%">Added</th>
            <th width="30%">Actions</th></b>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.now() }}</td>
                <td align="center">
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table><br>
    {% endif %}
    <form action="/" method="POST" align="center">
        <input type="text" name="content" id="content" width=" ">
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}